@import url('../../../../utils/scss/var.scss');

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &_left {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    &_h1 {
        color: #13334C;
        width: 800px;
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 260px;
        margin-bottom: 46px;
    }

    &_p {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        color: #878787;
        margin-bottom: 28px;
        width: 576px;
    }

    &_reklama {
        display: flex;
        align-items: center;
        gap: 17px;

        &-left {
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
            color: #878787;
        }

        &-right {
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
            color: #878787;
        }
    }

    &_btn {
        display: flex;
        align-items: center;
        gap: 35px;
        margin-top: 30px;

        &-boshla {
            padding: 9px 38px;
            background: linear-gradient(268.65deg, #13334C -7.43%, #5782AC 100%);
            box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            border: none;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            color: #fff;
            cursor: pointer;
        }

        &-bolim {
            display: flex;
            align-items: center;
            cursor: pointer;
            background-color: #fff;
            border: none;
            border: 1.5px solid #E6F0F9;
            padding: 3px;
            padding-right: 20px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
            border-radius: 15px;
        }
    }

    &_person {
        position: absolute;
        top: 70px;
        right: 88px;
        z-index: -100;
    }

    &_persons {
        position: absolute;
        top: 230px;
        right: 35px;
    }

    &_star {
        position: absolute;
        top: 570px;
        right: 670px;
    }

    &_book {
        background: #FFFFFF;
        box-shadow: 2px 2px 19px 8px rgba(21, 92, 161, 0.13);
        border-radius: 10px;
        padding: 17px;
        position: absolute;
        right: 600px;
        top: 120px;
    }

    &_star2{
        position: absolute;
        right: 960px;
        top: 190px;
    }    
}

@media screen and (max-width: 1216px) {
    .hero {
        &_left {
            gap: 10px;
        }
    
        &_h1 {
            width: 600px;
            font-size: 48px;
            margin-top: 260px;
            margin-bottom: 36px;
        }
    
        &_p {
            font-size: 18px;
            margin-bottom: 28px;
            width: 476px;
        }
    
        &_reklama {
            gap: 17px;
    
            &-left {
                gap: 10px;
                font-size: 16px;
            }
    
            &-right {
                gap: 10px;
                font-size: 16px;
            }
        }
    
        &_btn {
            gap: 35px;
            margin-top: 30px;
    
            &-boshla {
                padding: 9px 38px;
                font-size: 18px;
            }
    
            &-bolim {
                font-size: 16px;
            }
        }
    
        &_person {
            top: 70px;
            right: 88px;
        }
    
        &_persons {
            top: 230px;
            right: 35px;
        }
    
        &_star {
            top: 570px;
            right: 670px;
        }
    
        &_book {
            right: 600px;
            top: 120px;
        }
    
        &_star2{
            right: 960px;
            top: 190px;
        }    
    }
}

@media screen and (max-width: 1070px) {
    .hero {
        &_left {
            gap: 10px;
        }
    
        &_h1 {
            width: 600px;
            font-size: 48px;
            margin-top: 260px;
            margin-bottom: 36px;
        }
    
        &_p {
            font-size: 18px;
            margin-bottom: 28px;
            width: 476px;
        }
    
        &_reklama {
            gap: 17px;
    
            &-left {
                gap: 10px;
                font-size: 16px;
            }
    
            &-right {
                gap: 10px;
                font-size: 16px;
            }
        }
    
        &_btn {
            gap: 35px;
            margin-top: 30px;
    
            &-boshla {
                padding: 9px 38px;
                font-size: 18px;
            }
    
            &-bolim {
                font-size: 16px;
            }
        }
    
        &_person {
            top: 150px;
            right: 88px;
            width: 500px !important;
        }
    
        &_persons {
            top: 250px;
            right: 35px;
            width: 150px;
        }
    
        &_star {
            top: 570px;
            right: 20px;
        }
    
        &_book {
            right: 600px;
            top: 120px;
            padding: 5px;
        }
    
        &_star2{
            right: 760px;
            top: 190px;
        }    
    }
}

@media screen and (max-width: 965px) {
    .hero {
        &_left {
            gap: 10px;
        }
    
        &_h1 {
            width: 800px;
            font-size: 48px;
            margin-top: 460px;
            margin-bottom: 36px;
            text-align: center;
        }
    
        &_p {
            font-size: 18px;
            margin-bottom: 28px;
            width: 576px;
            margin-left: 50px;
        }
    
        &_reklama {
            gap: 17px;
            margin-left: 50px;
    
            &-left {
                gap: 10px;
                font-size: 16px;
            }
    
            &-right {
                gap: 10px;
                font-size: 16px;
            }
        }
    
        &_btn {
            gap: 35px;
            margin-top: 30px;
            margin-left: 50px;
    
            &-boshla {
                padding: 9px 38px;
                font-size: 18px;
            }
    
            &-bolim {
                font-size: 16px;
            }
        }
    
        &_person {
            top: 50px;
            right: 88px;
            width: 500px !important;
        }
    
        &_persons {
            top: 250px;
            right: 35px;
            width: 150px;
        }
    
        &_star {
            top: 570px;
            right: 20px;
        }
    
        &_book {
            right: 600px;
            top: 120px;
            padding: 5px;
        }
    
        &_star2{
            right: 760px;
            top: 190px;
        }    
    }
}

@media screen and (max-width: 810px) {
    .hero {
        &_left {
            gap: 10px;
        }
    
        &_h1 {
            width: 550px;
            font-size: 35px;
            margin-top: 560px;
            margin-left: 50px;
            line-height: 60px;
            margin-bottom: 6px;
            text-align: left;
        }
    
        &_p {
            font-size: 15px;
            margin-bottom: 28px;
            width: 406px;
            margin-left: 50px;
        }
    
        &_reklama {
            gap: 17px;
            margin-left: 50px;
    
            &-left {
                gap: 10px;
                font-size: 12px;
            }
    
            &-right {
                gap: 10px;
                font-size: 12px;
            }
        }
    
        &_btn {
            gap: 35px;
            margin-top: 20px;
            margin-left: 50px;
    
            &-boshla {
                padding: 9px 38px;
                font-size: 18px;
            }
    
            &-bolim {
                font-size: 16px;
            }
        }
    
        &_person {
            top: 50px;
            right: 88px;
            width: 500px !important;
        }
    
        &_persons {
            top: 250px;
            right: 35px;
            width: 150px;
        }
    
        &_star {
            top: 570px;
            right: 20px;
        }
    
        &_book {
            right: 50px;
            top: 50px;
            padding: 5px;
        }
    
        &_star2{
            right: 600px;
            top: 150px;
        }    
    }
}

@media screen and (max-width: 680px) {
    .hero {
        &_left {
            gap: 10px;
        }
    
        &_h1 {
            width: 350px;
            font-size: 35px;
            margin-top: 360px;
            margin-left: 50px;
            line-height: 60px;
            margin-bottom: 6px;
            text-align: left;
        }
    
        &_p {
            font-size: 15px;
            margin-bottom: 28px;
            width: 300px;
            margin-left: 50px;
        }
    
        &_reklama {
            margin-left: 50px;
            display: block;
    
            &-left {
                gap: 10px;
                font-size: 12px;
                margin-bottom: 10px;
            }
    
            &-right {
                gap: 10px;
                font-size: 12px;
            }
        }
    
        &_btn {
            gap: 35px;
            margin-top: 20px;
            margin-left: 50px;
    
            &-boshla {
                padding: 9px 38px;
                font-size: 18px;
            }
    
            &-bolim {
                font-size: 16px;
            }
        }
    
        &_person {
            top: 50px;
            right: 88px;
            width: 350px !important;
        }
    
        &_persons {
            top: 130px;
            right: 35px;
            width: 150px;
        }
    
        &_star {
            top: 500px;
            right: 20px;
        }
    
        &_book {
            right: 50px;
            top: 50px;
            padding: 5px;
        }
    
        &_star2{
            right: 400px;
            top: 100px;
        }    
    }
}

@media screen and (max-width: 531px) {
    .hero {
        &_left {
            gap: 10px;
        }
    
        &_h1 {
            width: 350px;
            font-size: 35px;
            margin-top: 320px;
            margin-left: 0px;
            line-height: 50px;
            margin-bottom: 6px;
            text-align: left;
        }
    
        &_p {
            font-size: 15px;
            margin-bottom: 28px;
            width: 300px;
            margin-left: 0px;
        }
    
        &_reklama {
            margin-left: 0px;
            display: block;
    
            &-left {
                gap: 10px;
                font-size: 12px;
                margin-bottom: 10px;
            }
    
            &-right {
                gap: 10px;
                font-size: 12px;
            }
        }
    
        &_btn {
            gap: 35px;
            margin-top: 20px;
            margin-left: 0px;
    
            &-boshla {
                padding: 9px 30px;
                font-size: 18px;
            }
    
            &-bolim {
                font-size: 16px;
                padding-right: 0;
            }
        }
    
        &_person {
            top: 50px;
            right: 88px;
            width: 300px !important;
        }
    
        &_persons {
            top: 130px;
            right: 35px;
            width: 100px;
        }
    
        &_star {
            top: 200px;
            right: 20px;
            width: 30px;
        }
    
        &_book {
            right: 50px;
            top: 30px;
            padding: 5px;
            width: 50px;
        }
    
        &_star2{
            right: 350px;
            top: 10px;
        }    
    }
}

@media screen and (max-width: 430px) {
    .hero {
        &_left {
            gap: 10px;
        }
    
        &_h1 {
            width: 270px;
            font-size: 27px;
            margin-top: 220px;
            margin-left: 0px;
            line-height: 40px;
            margin-bottom: 6px;
            text-align: left;
        }
    
        &_p {
            font-size: 12px;
            margin-bottom: 10px;
            width: 300px;
            margin-left: 0px;
        }
    
        &_reklama {
            margin-left: 0px;
            display: block;
    
            &-left {
                gap: 10px;
                font-size: 12px;
                margin-bottom: 10px;
            }
    
            &-right {
                gap: 10px;
                font-size: 12px;
            }
        }
    
        &_btn {
            gap: 21px;
            margin-top: 20px;
            margin-left: 0px;
    
            &-boshla {
                padding: 5px 10px;
                font-size: 13px;
            }
    
            &-bolim {
                font-size: 13px;
                padding: 0;
                padding-right: 10px;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    
        &_person {
            top: 50px;
            right: 88px;
            width: 200px !important;
        }
    
        &_persons {
            top: 130px;
            right: 35px;
            width: 100px;
        }
    
        &_star {
            top: 200px;
            right: 20px;
            width: 30px;
        }
    
        &_book {
            right: 50px;
            top: 30px;
            padding: 5px;
            width: 50px;
        }
    
        &_star2{
            right: 250px;
            top: 10px;
        }    
    }
}